
.fc-daygrid-event{
    cursor: pointer;
}
.aboutDiv{
    background-color: white;
    border-radius: 5%;
    margin-top: 3%;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    opacity: 0.8;
}
.termsDiv{
    background-color: white;
    border-radius: 5%;
    width: 50%;
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    opacity: 0.8; 
}

.multiline{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width:60%;
}

.picture{
    width:250px;
    height: 420px;
}

@media (max-width: 600px) {
    .picture{
        width:191px;
        height: 318px;
    }

    .swal2-container.swal2-center>.swal2-popup {
        grid-column: 2;
        grid-row: 2;
        align-self: center;
        justify-self: center;
        width: 250px !important;
    }

    .fc fc-media-screen .fc-direction-ltr .fc-theme-standard {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        overflow: scroll;
        width: 100%;
        min-width: 354px;
        height: 750px !important;
    }

    .fc-timegrid-event-harness {
        width: 60px;
        height: 75px;
      
    }

    .fc .fc-toolbar.fc-header-toolbar {
        margin-bottom: 1.5em;
        font-size: x-small;
    }

    .fc .fc-view-harness {
        flex-grow: 1;
        position: relative;
        font-size: x-small !important;
    }

    .container > div {
        max-width: 32%;
        height: 750px;
        min-width: 360px;
    }

    .fc-v-event .fc-event-title {
        top: 0;
        bottom: 0;
        max-height: 100%;
        overflow: hidden;
        font-size: x-small !important;
    }

    .fc-daygrid-dot-event .fc-event-title {
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 0;
        overflow: hidden;
        font-weight: bold;
        font-size: x-small !important;
    }

    .fc-h-event .fc-event-title {
        display: inline-block;
        left: 0;
        max-width: 100%;
        overflow: hidden;
        right: 0;
        vertical-align: top;
        font-size: x-small;
    }

    .selectDiv {
        max-width: 60%;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    
  }

