  /* hide mobile version by default */
  .mainLogo .mobile {
    display: none;
  }
  /* when screen is less than 600px wide
     show mobile version and hide desktop */
  @media (max-width: 600px) {
    .mainLogo .mobile {
      display: block;
    }
    .mainLogo .desktop {
      display: none;
    }
  }
