@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html,
body {
  background-image: linear-gradient(to bottom right, #30BF98, #557AAA) !important;
  background-repeat:no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fc-media-screen{
  padding: 15px;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.895);
  opacity: 0.99;
}

.guild-name{
  font-size: 30px;
}

.TIK{
  background-image: url('./images/tik-black.jpg') ;
  background-position: 5%;
  background-repeat: no-repeat;
  background-size: 35px 35px;
}
.AK{
  background-image: url('./images/ak-logo.png');
  background-position: 5%;
  background-repeat: no-repeat;
  background-size: 35px 35px;
}

.AS{
  background-image: url('./images/as-black.jpg');
  background-position: 5%;
  background-repeat: no-repeat;
  background-size: 35px 35px;
}

.Athene{
  background-image: url('./images/athene-logo.png');
  background-position: 5%;
  background-repeat: no-repeat;
  background-size: 35px 35px;
}

.FK{
  background-image: url('./images/fk-black.jpg');
  background-position: 5%;
  background-repeat: no-repeat;
  background-size: 35px 35px;
}
.IK{
  background-image: url('./images/IK_logo.png');
  background-position: 5%;
  background-repeat: no-repeat;
  background-size: 35px 35px;
}
.Inkubio{
  background-image: url('./images/inkulogo-musta.png');
  background-position: 5%;
  background-repeat: no-repeat;
  background-size: 50px 40px;
}
.KIK{
  background-image: url('./images/kik-logo-round.png');
  background-position: 5%;
  background-repeat: no-repeat;
  background-size: 35px 35px;
}
.MK{
  background-image: url('./images/MK-logo.png');
  background-position: 5%;
  background-repeat: no-repeat;
  background-size: 35px 35px;
}

.PJK{
  background-image: url('./images/PJK-logo.png');
  background-position: 5%;
  background-repeat: no-repeat;
  background-size: 35px 35px;
}
.Prodeko{
  background-image: url('./images/prodeko-logo.png');
  background-position: 5%;
  background-repeat: no-repeat;
  background-size: 35px 35px;
}
.PT{
  background-image: url('./images/PT-logo-green.png');
  background-position: 5%;
  background-repeat: no-repeat;
  background-size: 35px 35px;
}
.TF{
  background-image: url('./images/tf-black.jpg');
  background-position: 5%;
  background-repeat: no-repeat;
  background-size: 35px 35px;
}
.VK{
  background-image: url('./images/vk-logo.png');
  background-position: 5%;
  background-repeat: no-repeat;
  background-size: 35px 35px;
}

.fc-button-group {
  margin-left: 0.25em !important;
}

.fc-day-today{
  background-color: rgba(255, 255, 255, 0.927) !important;
}


.fc-button-primary{
  background-color: rgb(65 194 157) !important;
}


.fc-prev-button:disabled{
  opacity: 0.65 !important;
}

.fc-today-button:disabled{
  opacity: 0.65 !important;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  margin-left: 0.25em;
}

.fc-timegrid-event{
  margin-left:auto;
  margin-right:auto;
  min-height:30px;
  margin:2px;
}

.fc-daygrid-event{
  position:relative;
  margin-left:auto;
  margin-right:auto;
  white-space: normal !important; 
  min-height:40px;
  margin:2px;
  
}

.fc-event-title{
  font-size: medium;
}

.sorting-list {
  list-style: none;
  padding: 0;
}

.sorting-list-item {
  float: left;
  clear: both;
  color: black;
  accent-color: rgb(65 194 157);;
}
.fc-timeGridDay-view, .fc-timegrid{
  border-radius: 4px;
}

[role=gridcell]{ 
  height: 100px !important;
  
}
.fc-view-harness, .fc-view-harness-active{
  min-height:950px !important;
  height: auto !important;
}
.fc-prev-button, .fc-next-button{
  margin-right:5px !important;
  border-radius: 4px !important;
}
.basic-multi-select{
  width:98.5%;
  margin: auto;
}

.select__option:hover{
  background-color: #30BF98 !important;
}
.select__control{
}

.css-1rhbuit-multiValue{
  background-color: #30BF98 !important;
}
.fc-event-main-frame{
  text-shadow: 1px 1px black;
}